{% extends "txirimiri/layout.html" %}
{% load static %}

{% block script %}
<script src="https://cdn.apple-cloudkit.com/ck/2/cloudkit.js"></script>
<script type="module" src="{% static 'txirimiri/authentication.js' %}"></script>
{% endblock %}

{% block body %}
{% csrf_token %}

<div class="container text-center py-4">
    <div id="user-thumbnail-container" class="d-inline-block">
        <img id="user-thumbnail" alt="User thumbnail" class="user-icon" style="display:none;">
        <div id="user-thumbnail-placeholder" class="user-icon user-icon-placeholder" style="display:none;">
            <i class="bi bi-person"></i>
        </div>
        <div id="user-thumbnail-unauthenticated" class="user-icon user-icon-placeholder">
            <i class="bi bi-person-slash"></i>
        </div>
    </div>
    <h5 id="displayed-username"></h5>
</div>
<div style="display: flex; justify-content: center;">
    <div id="apple-sign-in-button" class="d-inline-block"></div>
    <div id="apple-sign-out-button" class="d-inline-block"></div>
</div>

{% endblock %}