{% extends "txirimiri/layout.html" %}
{% load static %}

{% block script %}
<script src="https://cdn.apple-cloudkit.com/ck/2/cloudkit.js"></script>
<script>    
    const apiToken = "{{ cloudkit_api_token }}";
</script>
<script src="{% static 'txirimiri/cloud.js' %}"></script>
{% endblock %}

{% block body %}

<img src="{% static 'txirimiri/icon_outlined.png' %}" alt="TXIRIMIRI" class="logo">

<div class="card text-bg-secondary mb-3">
    <div class="card-header">Select a model from the list</div>
    <div class="card-body">
        <div id="model-list" class="list-group"></div>
    </div>
</div>

{% endblock %}